<!-- Filter Form Container -->
<form class="w-full md:w-2/3 flex flex-col md:flex-row items-start md:items-center justify-end h-auto md:h-10 mt-4 md:mt-0 gap-4">
  
  <!-- Filter By Section -->
  <div class="flex flex-col md:flex-row items-start md:items-center w-full md:w-auto">
    <h3 class="font-semibold text-gray-900 dark:text-white mr-0 md:mr-4 mb-2 md:mb-0">Filter By</h3>
    <ul class="flex flex-col md:flex-row items-stretch md:items-center h-auto md:h-10 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white w-full md:w-auto">
      
      <!-- Category Radio -->
      <li class="w-full md:w-auto border-b md:border-b-0 md:border-r dark:border-gray-600 h-10 md:h-full flex items-center">
        <div class="flex items-center px-3 h-10 md:h-full w-full">
          <input id="filter-category" type="radio" value="category" name="filter_by" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="filter-category" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Category</label>
        </div>
      </li>
      <!-- End Category Radio -->

      <!-- Sub Department Radio -->
      <li class="w-full md:w-auto border-b md:border-b-0 md:border-r dark:border-gray-600 h-10 md:h-full flex items-center">
        <div class="flex items-center px-3 h-10 md:h-full w-full">
          <input id="filter-subdepartment" type="radio" value="subdepartment" name="filter_by" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="filter-subdepartment" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sub Department</label>
        </div>
      </li>
      <!-- End Sub Department Radio -->

      <!-- Department Radio -->
      <li class="w-full md:w-auto border-b md:border-b-0 md:border-r dark:border-gray-600 h-10 md:h-full flex items-center">
        <div class="flex items-center px-3 h-10 md:h-full w-full">
          <input id="filter-department" type="radio" value="department" name="filter_by" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="filter-department" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Department</label>
        </div>
      </li>
      <!-- End Department Radio -->

      <!-- All Radio -->
      <li class="w-full md:w-auto h-10 md:h-full flex items-center">
        <div class="flex items-center px-3 h-10 md:h-full w-full">
          <input id="filter-all" type="radio" value="all" name="filter_by" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="filter-all" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">All</label>
        </div>
      </li>
      <!-- End All Radio -->

    </ul>
  </div>
  <!-- End Filter By Section -->

  <!-- Button + Dropdown Section -->
  <div class="relative shrink-0 w-full md:w-auto">
    <!-- Filter Dropdown Button -->
    <button id="selectFilterDropdownButton" data-dropdown-toggle="selectFilterDropdown" class="inline-flex justify-between md:justify-center w-full md:w-auto items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
      Pilih Filter
      <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
    </button>
    <!-- End Filter Dropdown Button -->

    <!-- Dropdown Container -->
  <div id="selectFilterDropdown" class="right-0 z-10 hidden bg-white rounded-lg shadow-sm w-full md:w-60 mt-2 dark:bg-gray-700">
      
      <!-- Dropdown Search -->
      <div class="p-3">
        <label for="input-group-search-filter" class="sr-only">Cari Filter</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/></svg>
          </div>
          <input type="text" id="input-group-search-filter" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari Filter">
        </div>
      </div>
      <!-- End Dropdown Search -->

      <!-- Filter List -->
      <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="selectFilterDropdownButton">
        {% for f in filter_list %}
        <li>
          <div class="flex items-center p-2 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
            <input id="filter-{{ f.kode_filter }}" name="selected_filter" type="radio" value="{{ f.kode_filter }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {% if f.kode_filter == filter.kode_filter %}checked{% endif %}>
            <label for="filter-{{ f.kode_filter }}" class="w-full ms-2 text-sm font-medium text-gray-900 rounded-sm dark:text-gray-300">{{ f.kode_filter }} - {{ f.nama_filter }}</label>
          </div>
        </li>
        {% empty %}
        <li>
          <div class="flex items-center p-2"><span class="text-gray-500 dark:text-gray-400">Tidak ada filter tersedia.</span></div>
        </li>
        {% endfor %}
      </ul>
      <!-- End Filter List -->

      <!-- Confirm Filter Button -->
  <button id="confirmSelectFilter" class="flex items-center justify-center w-full p-3 text-sm font-medium text-white bg-blue-600 rounded-b-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-blue-700 dark:hover:bg-blue-800">Filter</button>
      <!-- End Confirm Filter Button -->

    </div>
    <!-- End Dropdown Container -->

  </div>
  <!-- End Button + Dropdown Section -->

</form>
<!-- End Filter Form Container -->