{% extends "_base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<section class="min-h-screen bg-cover bg-center bg-no-repeat bg-[url('/static/img/retail-bg.png')] bg-gray-700 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Retail Management System</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Sistem manajemen ritel untuk mengelola produk, penjualan, dan laporan secara efisien.</p>
    </div>
</section>
{% endblock content %}
