<!-- Dropdown menu -->
<div id="selectSupplierDropdown" class="z-10 hidden bg-white rounded-lg shadow-sm w-60 dark:bg-gray-700">
  <div class="p-3">
    <label for="input-group-search-supplier" class="sr-only">Cari Supplier</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <input type="text" id="input-group-search-supplier" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari supplier">
    </div>
  </div>
  <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="selectSupplierDropdownButton">
    {% for s in supplier_list %}
    <li>
      <div class="flex items-center p-2 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
        <input id="supplier-{{ s.kode_supplier }}" name="selected_supplier" type="radio" value="{{ s.kode_supplier }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {% if s.kode_supplier == supplier.kode_supplier %}checked{% endif %}>
        <label for="supplier-{{ s.kode_supplier }}" class="w-full ms-2 text-sm font-medium text-gray-900 rounded-sm dark:text-gray-300">
          {{ s.kode_supplier }} - {{ s.nama_supplier }}
        </label>
      </div>
    </li>
    {% empty %}
    <li>
      <div class="flex items-center p-2">
        <span class="text-gray-500 dark:text-gray-400">Tidak ada supplier tersedia.</span>
      </div>
    </li>
    {% endfor %}
  </ul>
  <button id="confirmSelectSupplier" class="flex items-center justify-center w-full p-3 text-sm font-medium text-white bg-blue-600 rounded-b-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-blue-700 dark:hover:bg-blue-800">
    Pilih
  </button>
</div>